
<!-- CONTAINER  -->
<div [fxLayout]="screenState[_Breakpoints.XSmall] ? 'column-reverse' : 'row'"
     class="main-block" 
     fxLayoutAlign="start stretch"
     [ngClass]="{'brown-theme-panel': themes['brown'],
     'grey-theme-panel': themes['grey'],
     'contrast-theme-panel': themes['contrast']}"
     >

     <panel-form [panelcontent]="panelcontent" (actioneventer)="OnPanelAction($event)" > </panel-form>

     <!-- BODY  -->
     <div 
     fxLayout="column"
     fxLayoutAlign="start start"  
     fxFlex="1 1 auto"
     class="form-body p-1 w-100  scrollable">
           

          <mat-grid-list 
          class=" reception-grid"
          [cols]="GridData.options.cols"
          [rowHeight]="GridData.options.rowHeight"
          gutterSize="0px"
          >

               <mat-grid-tile 
                    *ngFor="let element of GridData.elements"
                    class="grid-element"
                    [colspan]="element.gridoptions.colspan"
                    [rowspan]="element.gridoptions.rowspan"
                    >
                    
                    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="element.elementtype == GridElementtype.HeaderPanel"> 
                         <date-range-selector fxFlex [AutoEmit]="true" (RangeChange) = "OnRangeChange($event)"></date-range-selector>
                         <button class="ml-2" [color]="Options.accent" fxFlex mat-button button>Action 1 </button>
                         <button [color]="Options.accent" fxFlex mat-button>Action 2 </button>
                         <button [color]="Options.accent" fxFlex mat-button>Action 3 </button>
                         <button color="warn" fxFlex mat-button>Action 4 </button>
                         <span fxFlex class="m-auto"></span>
                    </div>
                    <span *ngIf="element.elementtype == GridElementtype.FooterPanel"> FOOTER PANEL  </span>
                    <span *ngIf="element.elementtype == GridElementtype.Header">{{element.dataoptions.data.title }} </span>
                    <span *ngIf="element.elementtype == GridElementtype.Period">{{element.dataoptions.data.title }} {{ element.dataoptions.data.subtitle }} </span>
                    <reception-subperiod *ngIf="element.elementtype == GridElementtype.SubPeriod" fxFlex class="pt-1  h-100 light overflow-visible"></reception-subperiod>
                    <span *ngIf="element.elementtype == GridElementtype.Box">{{element.dataoptions.data.title }} </span>
                    <span *ngIf="element.elementtype == GridElementtype.BoxIntime"> {{element.dataoptions.data.status }} </span>
                    <span *ngIf="element.elementtype == GridElementtype.Empty">  </span>
                    
               </mat-grid-tile> 
          </mat-grid-list>



     </div>
</div>


