
  .overflow-visible {
    overflow: visible !important;
  }

  .grid-element {
    //border: 0.5px solid $lightcolor !important;
    border: none;
    background-color: white;
    font: small lighter !important;
    overflow: visible !important;
  } 

  .reception-grid {
    padding: 5%;
    height: 100%;   
    width: 100%;
    max-height: 100%;
  }



 