
<!-- CONTAINER  -->
<div [fxLayout]="screenState[_Breakpoints.XSmall] ? 'column-reverse' : 'row'"
     class="main-block" 
     fxLayoutAlign="start stretch"
     [ngClass]="{'brown-theme-panel': themes['brown'],
     'grey-theme-panel': themes['grey'],
     'contrast-theme-panel': themes['contrast']}"
     >

     <!-- PANEL  -->
     <div [fxFlex]="GetPanelFlexOption()" 
          [ngClass]="{'panel-v': !screenState[_Breakpoints.XSmall],
                    'panel-h': screenState[_Breakpoints.XSmall]}"
          class="panel panel-container"
          fxLayout="column"
          fxLayoutAlign="space-around stretch"  
     >

          <!-- HEADER (litle butons) -->  
          <mat-action-list 
               *ngIf="!screenState[_Breakpoints.XSmall]"
               fxFlex="1 1 auto"
               
               fxLayout="row"
               fxLayoutAlign="start start"  
               class="panel-item panel-little-flex-comp  pt-0">
               <button mat-list-item fxFlex="1 1 1fr" class="dark panel-flex-element h-100" (click)="ChangeExpandedPanel()">  <mat-icon>reorder</mat-icon> </button>
          </mat-action-list>      
 
          <!-- BUTTONS  -->  
          <mat-action-list 
          *ngIf="!screenState[_Breakpoints.XSmall]"
          fxFlexFill
          fxFlex="1 1 auto"
          fxLayout="column"
          fxLayoutAlign="start center"               
          class="scrollable pt-0 w-100">
               <button fxFlex="1 1 1fr" mat-list-item class="dark panel-flex-element" (click)="ClearMesaages()"> <mat-icon mat-list-icon>cancel</mat-icon> <span mat-line *ngIf="panelExpanded"> Удалить сообщения </span> </button>                    
               <button  (click)="StopOneCSesiion()" fxFlex="1 1 1fr" mat-list-item class="dark panel-flex-element"> <mat-icon mat-list-icon>lock</mat-icon> <span mat-line *ngIf="panelExpanded"> Остановить сессии </span> </button>                    
               <button (click)="StartOneCSesiion()" fxFlex="1 1 1fr" mat-list-item class="dark panel-flex-element"> <mat-icon mat-list-icon>lock_open</mat-icon> <span mat-line *ngIf="panelExpanded"> Запустить сессии  </span> </button>
          </mat-action-list>      

          <!-- LINKS  -->      
          <mat-nav-list
               *ngIf="!screenState[_Breakpoints.XSmall]"
               fxFlex="1 1 auto"
               fxFlexFill
               fxLayout="column"
               fxLayoutAlign="start center"  
               class="scrollable pt-0 w-100">
               
               <h3 mat-subheader>Перейти</h3>
               <a   fxFlex="1 1 1fr"
                    mat-list-item
                    class="primary panel-flex-element"
                    routerLink="/appoptions" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
               > 
                    <mat-icon mat-list-icon>settings_applications</mat-icon> 
                    <span mat-line  *ngIf="panelExpanded"> Настройки</span>
                    <span mat-line  *ngIf="panelExpanded"> приложения.  </span>
               </a>
               <a   fxFlex="1 1 1fr" 
                    mat-list-item
                    class="primary panel-flex-element"
                    routerLink="/onecoptions" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
               >
                    <mat-icon mat-list-icon>build</mat-icon>
                    <span mat-line  *ngIf="panelExpanded"> Настройки   </span>
                    <span mat-line  *ngIf="panelExpanded"> подключения к 1С  </span>
               </a>

               <a   fxFlex="1 1 1fr" 
                    mat-list-item
                    class="primary panel-flex-element"
                    routerLink="/counter" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
               >
                    <mat-icon mat-list-icon>av_timer</mat-icon>
                    <span mat-line  *ngIf="panelExpanded"> Состояние </span>
                    <span mat-line  *ngIf="panelExpanded"> подключения к 1С  </span>
               </a>
          
          
          </mat-nav-list>   

          <!-- MESSAGES  -->  
          <mat-list 
               *ngIf="panelExpanded && !screenState[_Breakpoints.XSmall]"  
               @disappearmessages
               fxFlex="1 1 auto"
               fxFlexFill
               fxLayout="column"
               fxLayoutAlign="start center"      
               class="panel-item scrollable pt-0 w-100 messeges-flex-comp ">
                    
               <mat-list-item
                *ngFor="let message of messages"     
                @disappear
                
                [ngClass]="{'warning': message.isError,
                            'secondry': !message.isError,
                             'spacer' : messages.lastIndexOf(message) == 0 } "
                fxLayout="column"
                class="inline-flex-comp " >
                    <button (click)="OnPanelMessageClick(message)" mat-icon-button class="p-0 m-0 "><mat-icon   class="p-0 m-0">cancel</mat-icon></button>      
                    <span  class="p-0 m-0 messege-font">
                         {{ message.message_content }} 
                    </span>  
               </mat-list-item>
               <!-- <mat-list-item  fxLayout="column" class="secondry inline-flex-comp " > 
                    <button mat-icon-button class="p-0 m-0 "><mat-icon   class="p-0 m-0">cancel</mat-icon></button>
                    <span class="p-0 m-0 messege-font">
                         enother_message 
                    </span>
               </mat-list-item>
               <mat-list-item  fxLayout="column" class="secondry inline-flex-comp " > 
                    <button mat-icon-button class="p-0 m-0 "><mat-icon   class="p-0 m-0">cancel</mat-icon></button>
                    <span class="p-0 m-0 messege-font">
                         enother_message 
                    </span>
               </mat-list-item> -->
          </mat-list> 

           <!-- FOOTER (litle butons)  -->  
          <mat-action-list 
          [fxLayout]="litleButtonsLayout$ | async"
          fxLayoutAlign="end end"  
          fxFlex="1 1 auto"
          id="footer"
          class="panel-little-flex-comp  pt-0"
          >
               <button routerLink="/" fxFlex="1 0 " mat-list-item  class="dark panel-flex-element" [ngClass]="{'h-100':  screenState[_Breakpoints.XSmall]}"> <mat-icon>home</mat-icon> </button>
               <button (click)="RefreshAll()" fxFlex="1 0 " mat-list-item  class="dark panel-flex-element" [ngClass]="{'h-100':  screenState[_Breakpoints.XSmall]}" > <mat-icon>refresh</mat-icon> </button>
               <button [matMenuTriggerFor]="printmenu" fxFlex="1 0 " mat-list-item  class="dark panel-flex-element" [ngClass]="{'h-100':  screenState[_Breakpoints.XSmall]}"> <mat-icon>print</mat-icon> </button>
               <!-- Елементы printmenu -->
                    <mat-menu  
                         [class]="GetThemeClass()"
                         #printmenu="matMenu"
                         xPosition='after'
                         yPosition="below">
                         <button class="dark mat-nav-item" mat-menu-item>
                              <mat-icon>cancel</mat-icon>
                              <span>Cansel</span>
                         </button>

                         <button
                         mat-menu-item
                         class="primary"
                          > 
                             <span mat-line  > Печатные формы  </span>
                             <span mat-line  > не назначены.  </span>
                        </button>
    
                    </mat-menu>

          
               <!-- КНОПКА открытия меню для планшетной раскладки -->
               <button 
               *ngIf="screenState[_Breakpoints.XSmall]"
               fxFlex="1 0 "
               mat-list-item
               class="dark panel-flex-element"
               [ngClass]="{'h-100':  screenState[_Breakpoints.XSmall]}"
               [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
               </button>
          
               <!-- Елементы меню  планшетной раскладки -->
               <mat-menu  
                    [class]="GetThemeClass()"
                    #menu="matMenu"
                    xPosition='before'
                    yPosition="below">
               <button class="dark mat-nav-item no-outline" mat-menu-item>
                    <mat-icon>cancel</mat-icon>
                    <span>Cansel</span>
               </button>
               
                    <!-- КНОПКИ ДЕЙСТВИЯ -->
                    <button (click)="StopOneCSesiion()" mat-menu-item class="dark mat-nav-item no-outline">
                         <mat-icon mat-list-icon>add</mat-icon>
                         <span> Остановить сессии </span>
                    </button>                    
                    
                    <button (click)="StartOneCSesiion()" mat-menu-item class="dark mat-nav-item no-outline">
                         <mat-icon mat-list-icon>edit</mat-icon>
                         <span> Запустить сессии </span>
                    </button>
                    

                    <!-- ЛИНКИ -->
                    <button
                    mat-menu-item
                    class="primary"
                    routerLink="/appoptions" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
                     > 
                        <mat-icon mat-list-icon>settings_applications</mat-icon>
                        <span mat-line  > Настройки  </span>
                        <span mat-line  > приложения.  </span>
                   </button>
                   <button
                    mat-menu-item
                    class="primary"
                    routerLink="/onecoptions" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
                    >
                         <mat-icon mat-list-icon>build</mat-icon>
                         <span mat-line  > Настройки  </span>
                         <span mat-line  > подключения к 1С.  </span>
                   </button>
                   <button
                   mat-menu-item
                   class="primary"
                   routerLink="/counter" 
                   routerLinkActive="link-active"
                   [routerLinkActiveOptions]="{exact:true}"
                  > 
                        <mat-icon mat-list-icon>av_timer</mat-icon>
                        <span mat-line  > Состояние  </span>
                        <span mat-line  > подключения к 1С.   </span>
                   </button>
               </mat-menu>
          </mat-action-list>      
     </div>

     <!-- BODY  -->
     <div 
     [fxLayout]="(BodyLayout$ | async).BodyLayout"
     [fxLayoutAlign]="(BodyLayout$ | async).BodyAlign"
     fxFlex="1 1 auto"
     class="form-body p-1 w-100  scrollable">
               
     <mat-card fxFlex="1 1 " class="m-2">
          <mat-card-header>
               <mat-card-title>Текущая активная сессия</mat-card-title>
          </mat-card-header>

          <mat-card-content>
               <ul  class="list-group">
                    <li class="list-group-item"> LastResponseStatus : {{sessionstatus.LastResponseStatus}} </li>
                    <li class="list-group-item"> BadResponseCount : {{sessionstatus.BadResponseCount}}</li>
                    <li class="list-group-item"> PingTimerStarted : {{sessionstatus.PingTimerStarted}}</li>
                    <li class="list-group-item"> Session ID : {{sessionstatus.OneCSesionId}}</li>
               </ul>
          </mat-card-content>

          <mat-card-footer>
               <preloadpage class="w-100 h-100" [spindiametr]=25 *ngIf="sessionStatusUpdating$ | async"></preloadpage>
          </mat-card-footer>     

          <mat-card-actions>
               <button fxFlex [disabled]="requeststarted" class="secondry" mat-raised-button (click)="GetOneCSesiionStatus()"> Обновить </button>
          </mat-card-actions>

     </mat-card>


     <mat-card fxFlex="4 1 " class="m-2">
          <mat-card-header>
               <mat-card-title>Лог сессий 1С</mat-card-title>
          </mat-card-header>

          <mat-card-content >
               <div class="table-container">
                    <mat-table   [dataSource]="dataSource">
                         <ng-container matColumnDef="start">
                              <mat-header-cell *matHeaderCellDef>Start</mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.start |  date: 'mediumTime'}} </mat-cell>
                         </ng-container>
               
                         <ng-container matColumnDef="content">
                                   <mat-header-cell mat-header-cell *matHeaderCellDef>Content</mat-header-cell>
                                   <mat-cell *matCellDef="let element"> {{element.content}} </mat-cell>
                         </ng-container>
               
                         <ng-container matColumnDef="duration">
                              <mat-header-cell mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
                         </ng-container>
                    
                         <ng-container matColumnDef="status">
                              <mat-header-cell mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                              <mat-cell mat-cell *matCellDef="let element"> {{element.additionalsparams?.requeststatus}} </mat-cell>
                         </ng-container>
                    
                         <ng-container matColumnDef="error">
                              <mat-header-cell mat-header-cell *matHeaderCellDef>Error</mat-header-cell>
                              <mat-cell mat-cell *matCellDef="let element"> {{element.additionalsparams?.error}} </mat-cell>
                         </ng-container>
                    
                         <ng-container matColumnDef="errorcontent">
                                   <mat-header-cell mat-header-cell *matHeaderCellDef>Error content</mat-header-cell>
                                   <mat-cell mat-cell *matCellDef="let element"> {{element.additionalsparams?.contenet}} </mat-cell>
                         </ng-container>
               
                         
                         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                         <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
               </div>
          </mat-card-content>

          <mat-card-footer>
               <preloadpage class="w-100 h-100" [spindiametr]=25 *ngIf="dataSource.loading$ | async"></preloadpage>
          </mat-card-footer>     

          <mat-card-actions>
               <button fxFlex  class="secondry" mat-raised-button (click)="RefreshLog()"> Обновить </button>
          </mat-card-actions>

     </mat-card>



     
     
    
     
     
     </div>
</div>


