
<!-- CONTAINER  -->
<div [fxLayout]="screenState[_Breakpoints.XSmall] ? 'column-reverse' : 'row'"
     class="main-block" 
     fxLayoutAlign="start stretch"
     [ngClass]="{'brown-theme-panel': themes['brown'],
     'grey-theme-panel': themes['grey'],
     'contrast-theme-panel': themes['contrast']}"
     >

     <!-- PANEL  -->
     <div [fxFlex]="GetPanelFlexOption()" 
          [ngClass]="{'panel-v': !screenState[_Breakpoints.XSmall],
                    'panel-h': screenState[_Breakpoints.XSmall]}"
          class="panel panel-container"
          fxLayout="column"
          fxLayoutAlign="space-around stretch"  
     >

          <!-- HEADER (litle butons) -->  
          <mat-action-list 
               *ngIf="!screenState[_Breakpoints.XSmall]"
               fxFlex="1 1 auto"
               
               fxLayout="row"
               fxLayoutAlign="start start"  
               class="panel-item panel-little-flex-comp  pt-0">
               <button mat-list-item fxFlex="1 1 1fr" class="dark panel-flex-element h-100" (click)="ChangeExpandedPanel()">  <mat-icon>reorder</mat-icon> </button>
          </mat-action-list>      
 
          <!-- BUTTONS  -->  
          <mat-action-list 
          *ngIf="!screenState[_Breakpoints.XSmall]"
          fxFlexFill
          fxFlex="1 1 auto"
          fxLayout="column"
          fxLayoutAlign="start center"               
          class="scrollable pt-0 w-100">
               <button fxFlex="1 1 1fr" mat-list-item class="dark panel-flex-element" (click)="Cansel()"> <mat-icon mat-list-icon>cancel</mat-icon> <span mat-line *ngIf="panelExpanded"> Отмена </span> </button>                    
               <!-- <button fxFlex="1 1 1fr" mat-list-item class="dark panel-flex-element"> <mat-icon mat-list-icon>edit</mat-icon> <span mat-line *ngIf="panelExpanded"> Редактировать </span> </button>
               <button fxFlex="1 1 1fr" mat-list-item class="dark panel-flex-element"> <mat-icon mat-list-icon>delete</mat-icon> <span mat-line *ngIf="panelExpanded"> Удалить </span> </button> -->
          </mat-action-list>      

          <!-- LINKS  -->      
          <mat-nav-list
               *ngIf="!screenState[_Breakpoints.XSmall]"
               fxFlex="1 1 auto"
               fxFlexFill
               fxLayout="column"
               fxLayoutAlign="start center"  
               class="scrollable pt-0 w-100">
               
               <h3 mat-subheader>Перейти</h3>
               <a   fxFlex="1 1 1fr"
                    mat-list-item
                    class="primary panel-flex-element"
                    routerLink="/appoptions" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
               > 
                    <mat-icon mat-list-icon>settings_applications</mat-icon> 
                    <span mat-line  *ngIf="panelExpanded"> Настройки</span>
                    <span mat-line  *ngIf="panelExpanded"> приложения.  </span>
               </a>
               <a   fxFlex="1 1 1fr" 
                    mat-list-item
                    class="primary panel-flex-element"
                    routerLink="/onecoptions" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
               >
                    <mat-icon mat-list-icon>build</mat-icon>
                    <span mat-line  *ngIf="panelExpanded"> Настройки   </span>
                    <span mat-line  *ngIf="panelExpanded"> подключения к 1С  </span>
               </a>

               <a   fxFlex="1 1 1fr"
                    mat-list-item
                    class="primary panel-flex-element"
                    routerLink="/counter" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
               > 
                    <mat-icon mat-list-icon>av_timer</mat-icon>
                    <span mat-line  *ngIf="panelExpanded"> Состояние </span>
                    <span mat-line  *ngIf="panelExpanded"> подключения к 1С  </span>
               </a>
          
          
          </mat-nav-list>   

          <!-- MESSAGES  -->  
          <mat-list 
               *ngIf="panelExpanded && !screenState[_Breakpoints.XSmall]"  
               @disappearmessages
               fxFlex="1 1 auto"
               fxFlexFill
               fxLayout="column"
               fxLayoutAlign="start center"      
               class="panel-item scrollable pt-0 w-100 messeges-flex-comp ">
                    
               <mat-list-item
                *ngFor="let message of messages"     
                @disappear
                
                [ngClass]="{'warning': message.isError,
                            'secondry': !message.isError,
                             'spacer' : messages.lastIndexOf(message) == 0 } "
                fxLayout="column"
                class="inline-flex-comp " >
                    <button (click)="OnPanelMessageClick(message)" mat-icon-button class="p-0 m-0 "><mat-icon   class="p-0 m-0">cancel</mat-icon></button>      
                    <span  class="p-0 m-0 messege-font">
                         {{ message.message_content }} {{messages.lastIndexOf(message)}}
                    </span>  
               </mat-list-item>
               <!-- <mat-list-item  fxLayout="column" class="secondry inline-flex-comp " > 
                    <button mat-icon-button class="p-0 m-0 "><mat-icon   class="p-0 m-0">cancel</mat-icon></button>
                    <span class="p-0 m-0 messege-font">
                         enother_message 
                    </span>
               </mat-list-item>
               <mat-list-item  fxLayout="column" class="secondry inline-flex-comp " > 
                    <button mat-icon-button class="p-0 m-0 "><mat-icon   class="p-0 m-0">cancel</mat-icon></button>
                    <span class="p-0 m-0 messege-font">
                         enother_message 
                    </span>
               </mat-list-item> -->
          </mat-list> 

           <!-- FOOTER (litle butons)  -->  
          <mat-action-list 
          [fxLayout]="litleButtonsLayout | async"
          fxLayoutAlign="end end"  
          fxFlex="1 1 auto"
          id="footer"
          class="panel-little-flex-comp  pt-0"
          >
               <button  fxFlex="1 0 " mat-list-item  class="dark panel-flex-element" [ngClass]="{'h-100':  screenState[_Breakpoints.XSmall]}"> <mat-icon>home</mat-icon> </button>
               <button  fxFlex="1 0 " mat-list-item  class="dark panel-flex-element" [ngClass]="{'h-100':  screenState[_Breakpoints.XSmall]}"> <mat-icon>refresh</mat-icon> </button>
               <button  fxFlex="1 0 " mat-list-item  class="dark panel-flex-element" [ngClass]="{'h-100':  screenState[_Breakpoints.XSmall]}"> <mat-icon>print</mat-icon> </button>
          
               <!-- КНОПКА открытия меню для планшетной раскладки -->
               <button 
               *ngIf="screenState[_Breakpoints.XSmall]"
               fxFlex="1 0 "
               mat-list-item
               class="dark panel-flex-element"
               [ngClass]="{'h-100':  screenState[_Breakpoints.XSmall]}"
               [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
               </button>
          
               <!-- Елементы меню  планшетной раскладки -->
               <mat-menu  
                    [class]="GetThemeClass()"
                    #menu="matMenu"
                    xPosition='before'
                    yPosition="below">
               <button class="dark mat-nav-item" mat-menu-item>
                    <mat-icon>cancel</mat-icon>
                    <span>Cansel</span>
               </button>
               
                    <!-- КНОПКИ ДЕЙСТВИЯ 
                    <button  mat-menu-item class="dark mat-nav-item">
                         <mat-icon mat-list-icon>add</mat-icon>
                         <span> Добавить </span>
                    </button>                    
                    
                    <button  mat-menu-item class="dark mat-nav-item">
                         <mat-icon mat-list-icon>edit</mat-icon>
                         <span> Редактировать </span>
                    </button>
                    
                    <button  mat-menu-item class="dark mat-nav-item">
                         <mat-icon mat-list-icon>delete</mat-icon>
                         <span> Удалить </span>
                    </button>-->

                    <!-- ЛИНКИ -->
                    <button
                     mat-menu-item
                     class="primary"
                     routerLink="/appoptions" 
                     routerLinkActive="link-active"
                     [routerLinkActiveOptions]="{exact:true}"
                      > 
                         <mat-icon mat-list-icon>settings_applications</mat-icon>
                         <span mat-line  > Настройки  </span>
                         <span mat-line  > приложения.  </span>
                    </button>
                    <button
                     mat-menu-item
                     class="primary"
                     routerLink="/onecoptions" 
                     routerLinkActive="link-active"
                     [routerLinkActiveOptions]="{exact:true}"
                     >
                          <mat-icon mat-list-icon>build</mat-icon>
                          <span mat-line  > Настройки  </span>
                          <span mat-line  > подключения к 1С.  </span>
                    </button>
                    <button
                    mat-menu-item
                    class="primary"
                    routerLink="/counter" 
                    routerLinkActive="link-active"
                    [routerLinkActiveOptions]="{exact:true}"
                   > 
                         <mat-icon mat-list-icon>av_timer</mat-icon>
                         <span mat-line  > Состояние  </span>
                         <span mat-line  > подключения к 1С.   </span>
                    </button>
                    
               </mat-menu>
          </mat-action-list>      
     </div>

     <!-- BODY  -->
     <div 
     fxLayout="row"
     fxLayoutAlign="center center"  
     fxFlex="1 1 auto"
     class="form-body p-1 w-100  scrollable">
      
     
     <mat-card   class="body-card">
          <mat-card-header >
            <div mat-card-avatar class="header-image"></div>  <!-- header-image background-image: url('путь к картинке заголовка'); background-size: cover; -->
               
            <mat-card-title>Настройки подключения к сервису 1С</mat-card-title>
            <mat-card-subtitle>Обязательны для работы с 1С</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content >
               <form fxLayout="row" [formGroup]="form">
                    <mat-divider ></mat-divider>
                    <ul fxFlex class="list-group list-group-flush">
                         <h6 class="list-group-item ">Параметры для входа </h6>
                         <li class="list-group-item "> 
                              <mat-form-field color='accent' class="w-100">  
                                   <input required [formControl]="BASE_URL" type="url"  matInput placeholder="Base URL"> 
                                   <mat-hint>Адрес http сервиса  </mat-hint> 
                                   <mat-icon matSuffix>mode_edit</mat-icon>
                                   <mat-error >{{ getErrorMessage( BASE_URL ) }}</mat-error>
                              </mat-form-field>   
                              
                         </li>
               
                         <li class="list-group-item "> 
                              <mat-form-field  color='accent' class="w-100">  
                                   <input required [formControl]="LOGIN" matInput placeholder="Login"> 
                                   <mat-hint>Имя пользователя 1С</mat-hint> 
                                   <mat-icon matSuffix>mode_edit</mat-icon>
                                   <mat-error >{{ getErrorMessage( LOGIN ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                         
                         <li class="list-group-item"> 
                              <mat-form-field  color='accent' class="w-100">  
                                   <input required [formControl]="PASSWORD" type="password" matInput placeholder="Password"> 
                                   <mat-hint>Пароль пользователя 1С</mat-hint> 
                                   <mat-icon matSuffix>visibility_off</mat-icon>
                                   <mat-error >{{ getErrorMessage( PASSWORD ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                    </ul>

                    
                    <mat-divider ></mat-divider>     
                    <ul fxFlex class="list-group list-group-flush">
                         <h6 class="list-group-item ">Параметры запросов </h6>     
                         <li  class="list-group-item"> 
                              <mat-form-field  color='accent' class="w-100">  
                                   <input required [formControl]="REQUEST_TIMEOUT" type="number" matInput placeholder="Request timeout"> 
                                   <mat-hint>Время ожидания ответа от 1С (ms)</mat-hint> 
                                   <mat-icon matSuffix>filter_1</mat-icon>
                                   <mat-error >{{ getErrorMessage( REQUEST_TIMEOUT ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                         
                         <li class="list-group-item"> 
                              <mat-form-field color='accent' class="w-100">  
                                   <input required [formControl]="MAX_BADREQUEST_COUNT"  type="number" matInput placeholder="Max bad request count"> 
                                   <mat-hint>Допустимое количество "плохих" ответов 1С подряд</mat-hint> 
                                   <mat-icon matSuffix>filter_1</mat-icon>
                                   <mat-error >{{ getErrorMessage( MAX_BADREQUEST_COUNT ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                         
                         <li class="list-group-item"> 
                               <mat-form-field  color='accent' class="w-100">  
                                   <input required [formControl]="PING_FREQUENCY" type="number" matInput placeholder="Ping frequency"> 
                                   <mat-hint>Частота фонового пинга для поддержания сессии (ms)</mat-hint> 
                                   <mat-icon matSuffix>filter_1</mat-icon>
                                   <mat-error >{{ getErrorMessage( PING_FREQUENCY ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                         
                         <li class="list-group-item"> 
                              <mat-checkbox  [formControl]="USE_LOG"  fxFlex> Использовать лог</mat-checkbox>
                         </li>     
                    </ul>
               </form>
          </mat-card-content>
          <mat-card-actions>
            <button class="secondry" mat-raised-button (click)="Save()">Сохранить</button>
            <button class="secondry" mat-raised-button (click)="Cansel()">Отмена</button>
          </mat-card-actions>
     </mat-card>
     
     </div>
</div>


