
<!-- CONTAINER  -->
<div [fxLayout]="screenState[_Breakpoints.XSmall] ? 'column-reverse' : 'row'"
     class="main-block" 
     fxLayoutAlign="start stretch"
     [ngClass]="{'brown-theme-panel': themes['brown'],
     'grey-theme-panel': themes['grey'],
     'contrast-theme-panel': themes['contrast']}"
     >

     <panel-form [panelcontent]="panelcontent" (actioneventer)="OnPanelAction($event)" > </panel-form>

     <!-- BODY  -->
     <div 
     fxLayout="row"
     fxLayoutAlign="center center"  
     fxFlex="1 1 auto"
     class="form-body p-1 w-100  scrollable">
      
     
     <mat-card   class="body-card">
          <mat-card-header >
            <div mat-card-avatar class="header-image"></div>  <!-- header-image background-image: url('путь к картинке заголовка'); background-size: cover; -->
               
            <mat-card-title>Настройки подключения к сервису 1С</mat-card-title>
            <mat-card-subtitle>Обязательны для работы с 1С</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content >
               <form fxLayout="row" [formGroup]="form">
                    <mat-divider ></mat-divider>
                    <ul fxFlex class="list-group list-group-flush">
                         <h6 class="list-group-item ">Параметры для входа </h6>
                         <li class="list-group-item "> 
                              <mat-form-field color='accent' class="w-100">  
                                   <input required [formControl]="BASE_URL" type="url"  matInput placeholder="Base URL"> 
                                   <mat-hint>Адрес http сервиса  </mat-hint> 
                                   <mat-icon matSuffix>mode_edit</mat-icon>
                                   <mat-error >{{ getErrorMessage( BASE_URL ) }}</mat-error>
                              </mat-form-field>   
                              
                         </li>
               
                         <li class="list-group-item "> 
                              <mat-form-field  color='accent' class="w-100">  
                                   <input required [formControl]="LOGIN" matInput placeholder="Login"> 
                                   <mat-hint>Имя пользователя 1С</mat-hint> 
                                   <mat-icon matSuffix>mode_edit</mat-icon>
                                   <mat-error >{{ getErrorMessage( LOGIN ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                         
                         <li class="list-group-item"> 
                              <mat-form-field  color='accent' class="w-100">  
                                   <input required [formControl]="PASSWORD" type="password" matInput placeholder="Password"> 
                                   <mat-hint>Пароль пользователя 1С</mat-hint> 
                                   <mat-icon matSuffix>visibility_off</mat-icon>
                                   <mat-error >{{ getErrorMessage( PASSWORD ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                    </ul>

                    
                    <mat-divider ></mat-divider>     
                    <ul fxFlex class="list-group list-group-flush">
                         <h6 class="list-group-item ">Параметры запросов </h6>     
                         <li  class="list-group-item"> 
                              <mat-form-field  color='accent' class="w-100">  
                                   <input required [formControl]="REQUEST_TIMEOUT" type="number" matInput placeholder="Request timeout"> 
                                   <mat-hint>Время ожидания ответа от 1С (ms)</mat-hint> 
                                   <mat-icon matSuffix>filter_1</mat-icon>
                                   <mat-error >{{ getErrorMessage( REQUEST_TIMEOUT ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                         
                         <li class="list-group-item"> 
                              <mat-form-field color='accent' class="w-100">  
                                   <input required [formControl]="MAX_BADREQUEST_COUNT"  type="number" matInput placeholder="Max bad request count"> 
                                   <mat-hint>Допустимое количество "плохих" ответов 1С подряд</mat-hint> 
                                   <mat-icon matSuffix>filter_1</mat-icon>
                                   <mat-error >{{ getErrorMessage( MAX_BADREQUEST_COUNT ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                         
                         <li class="list-group-item"> 
                               <mat-form-field  color='accent' class="w-100">  
                                   <input required [formControl]="PING_FREQUENCY" type="number" matInput placeholder="Ping frequency"> 
                                   <mat-hint>Частота фонового пинга для поддержания сессии (ms)</mat-hint> 
                                   <mat-icon matSuffix>filter_1</mat-icon>
                                   <mat-error >{{ getErrorMessage( PING_FREQUENCY ) }}</mat-error>
                              </mat-form-field>   
                         </li>
                         
                         <li class="list-group-item"> 
                              <mat-checkbox  [formControl]="USE_LOG"  fxFlex> Использовать лог</mat-checkbox>
                         </li>     
                    </ul>
               </form>
          </mat-card-content>
          <mat-card-actions>
            <button class="secondry" mat-raised-button (click)="Save()">Сохранить</button>
            <button class="secondry" mat-raised-button (click)="Cansel()">Отмена</button>
          </mat-card-actions>
     </mat-card>
     
     </div>
</div>


