<div fxFlex fxLayout="column" class="day-container w-100 h-100">
    <div fxFlex class="day-big-element "><span class="ml-1">day 18</span></div>
    <div fxFlex fxLayout="row" >
        <div fxFlex fxLayoutAlign="start start" class="day-small-element first-small-element " > <span class="hour-point font-hour-point" > 12 </span> </div>
        <div fxFlex fxLayoutAlign="start start" class="day-small-element " > <span class="hour-point font-hour-point" > 14 </span> </div>
        <div fxFlex fxLayoutAlign="start start" class="day-small-element " > <span class="hour-point font-hour-point" > 00 </span> </div>
        
    </div>
    
    <div fxFlex  class="mark-divider last-small-element" >   </div>
</div>

