

.day-container {
    border-collapse: collapse;
    font-size: 70% !important;
    font-weight: bolder;
    opacity: 1 !important;
    // margin-top: -15%;
    
}

.day-big-element {
    // border-top: 0.5px solid black;
    // border-left: 0.2px solid papayawhip;
    // border-right: 0.2px solid papayawhip;
     border-collapse: collapse;
     margin: auto;
    
}

.last-small-element {
    border-right: 0.2px solid papayawhip;
}


.day-small-element {
    overflow: visible !important;
    position: relative;
    
}

.font-hour-point {
   font-size: 80% !important;
   font-style: italic;
   font-weight: bolder;

}



.hour-point {
    /* transform: translate(66px, -5px); */
    background: inherit;
    color: inherit;
    z-index: 100;
    position: absolute;
    left: 70%;
    top: 0px;
}

.mark-divider {
    max-height: 15%;
    height: 15%;
}