<div   class="d-flex  align-items-center justify-content-center alert alert-warning">
  <span *ngIf="spindiametr >= 50" class="pl-2 pr-4 align-baseline">"Загружаем данные ..." </span>
  <span *ngIf="spindiametr < 50" @appearOpacity class="pl-2 pr-2 align-baseline timerfont timerposition"> {{ spenttime | date:'ss:SSS' }}  </span>
  <mat-progress-spinner  [diameter] = 'spindiametr' mode="indeterminate"></mat-progress-spinner>  
  <span *ngIf="spindiametr >= 50" @appearLeft class="pl-2 pr-2 align-baseline timerfont timerposition"> {{ spenttime | date:'ss:SSS' }}  </span>
  
</div> 

