<mat-card class="m-2">
    <mat-card-header>
      <mat-card-title>Simple 1C TCP proxy server</mat-card-title>
      <mat-card-subtitle>Служба осуществляет постоянную связь с HHTP сервисом 1С</mat-card-subtitle>
      <mat-card-subtitle>Служба осуществляет постоянную связь с TCP хостом</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>
          После запукска слсужбы необходимо инициализировать сессии связи на соответветсвующих закладках на панели. 
        </mat-card-subtitle>
    </mat-card-content> 
    
    <mat-card-footer class="ml-5"> 
        Описание и консультацию можно получить по нашим адресам:
        <mat-card-subtitle>телл. +380509999999 </mat-card-subtitle>
        <mat-card-subtitle>email email@domen.com  </mat-card-subtitle>
    </mat-card-footer>
</mat-card>  

<div 
class="m-2"
fxLayout="row"
fxLayoutAlign="center start">

<div fxFlex class="m-2">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Базовые API 1C (http://localhost:5000/api/ONEC/) </mat-card-title>
        </mat-card-header>   
        <mat-card-content>
            <mat-list>
                <mat-list-item >
                  <h5 matLine> proxy POST/GET </h5>
                  <p matLine>
                    <span> Обратиться к серверу 1С с  POST/GET запросом  </span>
                  </p>
                </mat-list-item>
                
                <mat-list-item >
                 <h5 matLine> options POST/GET </h5>
                  <p matLine>
                    <span> Сохранить\Получить параметры связи с сервером 1С  </span>
                  </p>
                </mat-list-item>
          
                <mat-list-item >
                  <h5 matLine> startonecsession \ stoponecsession GET </h5>
                   <p matLine>
                     <span> Запустить\Остановить связь с сервером 1С  </span>
                   </p>
                 </mat-list-item>
           
                 <mat-list-item >
                  <h5 matLine> onecsessionstatus GET </h5>
                   <p matLine>
                     <span> Получить статус связи с сервером 1С  </span>
                   </p>
                 </mat-list-item>
              </mat-list>        
        
        </mat-card-content>  
    </mat-card>
</div>

<div fxFlex class="m-2">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Базовые API TCP (http://localhost:5000/api/TCP/) </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list-item >
                <h5 matLine> addtask POST </h5>
                <p matLine>
                  <span> Обратиться к серверу TCP с запросом READ | WRIGHT </span>
                </p>
              </mat-list-item>
              
              <mat-list-item >
               <h5 matLine> tcpoptions POST/GET </h5>
                <p matLine>
                  <span> Сохранить\Получить параметры связи с сервером TCP </span>
                </p>
              </mat-list-item>
          
              <mat-list-item >
                <h5 matLine> start \ stop GET </h5>
                 <p matLine>
                   <span> Запустить\Остановить связь с сервером TCP  </span>
                 </p>
               </mat-list-item>
          
               <mat-list-item >
                <h5 matLine> tcpstatus GET </h5>
                 <p matLine>
                   <span> Получить статус связи с сервером TCP  </span>
                 </p>
               </mat-list-item>
                  
        </mat-card-content>  
    </mat-card>
</div>


</div>  



