<div [ngClass]="{'brown-theme-nav': themes['brown'],
              'grey-theme-nav': themes['grey'],
              'contrast-theme-nav': themes['contrast']}">

  <mat-toolbar class="mat-navbar dark mb-1">
    <a class="mat-nav-link" [routerLink]='["/"]'>Simple 1C-TCP proxy</a>
 
    <span class="m-auto"></span> <!-- разделитель создает пространство в флекс контейнере за счет авто марджина -->

    <mat-action-list *ngIf="screenState.no_show || !screenState[_Breakpoints.XSmall]" fxLayout fxLayoutAlign="center center" class=" p-0 h-100 ">

      <button fxFlex="1 1 auto" class="dark mat-nav-item mat-nav-link" mat-list-item routerLink="/" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <span *ngIf="screenState[_Breakpoints.Large] || screenState[_Breakpoints.Medium]">Home</span>
        <mat-icon class="px-2">home</mat-icon>
      </button>

      <!-- <button fxFlex="1 1 auto" class="dark mat-nav-item mat-nav-link" mat-list-item routerLink="/fetch-data" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <span *ngIf="screenState[_Breakpoints.Large] || screenState[_Breakpoints.Medium]">test</span>
        
      </button> -->


      <!-- <button fxFlex="1 1 auto" class="dark mat-nav-item mat-nav-link" mat-list-item routerLink="/counter" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <span *ngIf="screenState[_Breakpoints.Large] || screenState[_Breakpoints.Medium]">Counter</span>
        <mat-icon class="px-2">timer</mat-icon>
      </button> -->

      <button fxFlex="1 1 auto" class="dark mat-nav-item mat-nav-link" mat-list-item routerLink="/appoptions" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <span *ngIf="screenState[_Breakpoints.Large] || screenState[_Breakpoints.Medium]">Options</span>
        <mat-icon class="px-2">build</mat-icon>
      </button>

      <!-- <button fxFlex="1 1 auto" class="dark mat-nav-item mat-nav-link" mat-list-item routerLink="/shablon" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <span *ngIf="screenState[_Breakpoints.Large] || screenState[_Breakpoints.Medium]">shablon</span>
        <mat-icon class="px-2">build</mat-icon>
      </button> -->


      <button fxFlex="1 1 auto" class="dark mat-nav-item mat-nav-link" mat-list-item routerLink="/tcpoptions" routerLinkActive="link-active">
        <span *ngIf="screenState[_Breakpoints.Large] || screenState[_Breakpoints.Medium]">TCP options</span>
        <mat-icon class="px-2">apps</mat-icon>
      </button>
    </mat-action-list>

    <button *ngIf="screenState[_Breakpoints.XSmall]" class="mat-nav-link" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu  [class]="GetThemeClass()" #menu="matMenu" xPosition='before' yPosition="below">

      <button class="dark mat-nav-item no-outline" mat-menu-item>
        <mat-icon>cancel</mat-icon>
        <span>Cansel</span>
      </button>

      <button class="dark mat-nav-item no-outline" mat-menu-item routerLink="/" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <!-- <button class="dark mat-nav-item no-outline"  mat-menu-item routerLink="/counter" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>timer</mat-icon>
        <span>Counter</span>
      </button> -->

      <button class="dark mat-nav-item no-outline" mat-menu-item routerLink="/appoptions" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>build</mat-icon>
        <span>Options</span>
      </button>

      <!-- <button class="dark mat-nav-item no-outline" mat-menu-item routerLink="/shablon" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>build</mat-icon>
        <span>shablon</span>
      </button> -->

      <button class="dark mat-nav-item no-outline" mat-menu-item routerLink="/tcpoptions" routerLinkActive="link-active">
        <mat-icon>apps</mat-icon>
        <span>TCP options</span>
      </button>
    
    </mat-menu>

  </mat-toolbar>

</div>




<preloadpage *ngIf="isDataLoading"></preloadpage>