
<!-- CONTAINER  -->
<div [fxLayout]="screenState[_Breakpoints.XSmall] ? 'column-reverse' : 'row'"
     class="main-block" 
     fxLayoutAlign="start stretch"
     [ngClass]="{'brown-theme-panel': themes['brown'],
     'grey-theme-panel': themes['grey'],
     'contrast-theme-panel': themes['contrast']}"
     >

     <panel-form [panelcontent]="panelcontent" (actioneventer)="OnPanelAction($event)" > </panel-form>


     <!-- BODY  -->
     <div 
     fxLayout="row"
     fxLayoutAlign="start start"  
     fxFlex="1 1 auto"
     class="form-body p-1 w-100  scrollable">
               
          <div fxLayout="column" fxLayoutAlign="center center"  class="w-100"> 
               <div fxLayout="row wrap" class="mt-1 w-100">
                    <button  mat-raised-button color="accent" > accent </button>
                    <button  mat-raised-button color="primary" > primary </button>
                    <button  mat-raised-button color="warn" > warn </button>
                    <button  mat-raised-button  > clear </button>
               </div>

               <div fxLayout="row wrap" class="mt-1 w-100">
                    <button  mat-raised-button (click)="TestFB()"> test FB </button>
               </div>

              
               <div fxLayout="row wrap" class="w-100" >
                    <button  mat-raised-button (click)="SetTheme('brown')">brown</button> 
                    <button  mat-raised-button  (click)="SetTheme('grey')"> grey </button>
                    <button  mat-raised-button  (click)="SetTheme('contrast')"> contrast </button>
               </div>
               <!-- <div fxLayout="row " fxLayoutAlign="center center" class="w-100 p-1">
                    <grid-shablon  class="mt-1 w-100 p-0"  [themes]="themes"> </grid-shablon>     
               </div>      -->
          </div>        
     </div>
</div>


