

<!-- <mat-grid-list gutterSize="0px" cols="3" rowHeight="20px" class="day-container">
    <mat-grid-tile class="day-big-element" colspan=3 rowspan=1><span >d.18</span> </mat-grid-tile>
    <mat-grid-tile class="day-small-element first-day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="12" matBadgePosition="above after" matBadgeSize="small"> </span> </mat-grid-tile>
    <mat-grid-tile class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="14" matBadgePosition="above after" matBadgeSize="small"> </span> </mat-grid-tile>
    <mat-grid-tile class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="00" matBadgePosition="above after" matBadgeSize="small"> </span> </mat-grid-tile>
</mat-grid-list> -->

<div fxLayout="row">
        <div fxFlex fxLayout="column" class="day-container darc">
                <div fxFlex class="day-big-element"><span class="m-2">day 18</span></div>
                <div fxFlex fxLayout="row" >
                    <div fxFlex fxLayoutAlign="start start" class="day-small-element first-day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="12" matBadgePosition="above after" matBadgeSize="small"> </span> </div>
                    <div fxFlex fxLayoutAlign="start start" class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="14" matBadgePosition="above after" matBadgeSize="small">  </span> </div>
                    <div fxFlex fxLayoutAlign="start start" class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="00" matBadgePosition="above after" matBadgeSize="small">  </span> </div>
                </div>
            </div>
            
            <div fxFlex fxLayout="column" class="day-container">
                    <div fxFlex class="day-big-element"><span class="m-2">day 19</span></div>
                    <div fxFlex fxLayout="row" >
                        <div fxFlex fxLayoutAlign="start start" class="day-small-element first-day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="12" matBadgePosition="above after" matBadgeSize="small"> </span> </div>
                        <div fxFlex fxLayoutAlign="start start" class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="14" matBadgePosition="above after" matBadgeSize="small">  </span> </div>
                        <div fxFlex fxLayoutAlign="start start" class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="00" matBadgePosition="above after" matBadgeSize="small">  </span> </div>
                    </div>
                </div>
                <div fxFlex fxLayout="column" class="day-container">
                        <div fxFlex class="day-big-element"><span class="m-2">day 20</span></div>
                        <div fxFlex fxLayout="row" >
                            <div fxFlex fxLayoutAlign="start start" class="day-small-element first-day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="12" matBadgePosition="above after" matBadgeSize="small"> </span> </div>
                            <div fxFlex fxLayoutAlign="start start" class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="14" matBadgePosition="above after" matBadgeSize="small">  </span> </div>
                            <div fxFlex fxLayoutAlign="start start" class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="00" matBadgePosition="above after" matBadgeSize="small">  </span> </div>
                        </div>
                    </div>
                                    
</div>


<!-- <div fxFlex fxLayout="column" class="day-container">
    <div fxFlex class="day-big-element"><span class="m-2">day 18</span></div>
    <div fxFlex fxLayout="row" >
        <div fxFlex fxLayoutAlign="start start" class="day-small-element first-day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="12" matBadgePosition="above after" matBadgeSize="small"> </span> </div>
        <div fxFlex fxLayoutAlign="start start" class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="14" matBadgePosition="above after" matBadgeSize="small">  </span> </div>
        <div fxFlex fxLayoutAlign="start start" class="day-small-element" colspan=1 rowspan=1> <span class="hour-point" matBadge="00" matBadgePosition="above after" matBadgeSize="small">  </span> </div>
    </div>
</div> -->

<!-- 
<button class="btn btn-primary m-1" (click)="Onectest()">
    test
</button>

<div *ngIf="requststarted" class="alert alert-warning" role="alert">
    Loading ... 
</div>

<ul *ngIf="!requststarted " class="list-group">
    <li class="list-group-item">start  {{ requststartedat |  date: 'mediumTime' }}</li>
    <li class="list-group-item">finish {{ requstfinisedat |  date: 'mediumTime' }} </li>
    <li class="list-group-item">duration {{ requstduration }}</li>
</ul>

<table  class="table m-1"   *ngIf="datatable.length != 0">
    <thead class="thead-dark">
        <tr>
            <th> Room </th>
            <th> Rest</th>
            <th> Storage </th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let info of datatable">
        <td> {{info.room }} </td>
        <td> {{info.rest  }}</td>
        <td> {{info.storage  }}</td>
    </tr>
    </tbody>
</table>
 -->


