@import '~@angular/material/theming';
@import '../../themes.scss';
@import '../../global.inherit.theme.scss';


@mixin mat-nav-panel($accent, $primary, $warn, $bg-rimary-strenth) {
  $lightcolor: mat-color($accent, 50, .8);
  $activecolor: mat-color($accent, 50, 1);
  $darkcolor: mat-color($accent, 900);
     

  .panel {
    background-color: mat-color($accent, $bg-rimary-strenth);
  }

  .panel-container {
    justify-content: start !important;
  }

  #spacer {
    margin-top: auto !important;
  }

  .spacer {
    margin-top: auto !important;
  }

  .panel-v {
    @extend .panel;
    min-width: 64px;
    max-width: 252px;
  }

  .panel-h {
    @extend .panel;
    min-height: 52px;
    max-height: 52px;
  }

  .panel-item {
    border-bottom: 1px solid mat-color($primary, 400);
  }

  .form-body {
    background-color: mat-color($accent, 100);
  }

  .dark {
    background: $darkcolor;
    color: $lightcolor !important;

    &:hover {
        background: $darkcolor !important;
        color: $activecolor !important;
    }

    &:focus {
        background: $darkcolor !important;
        color: $activecolor !important;
    }
  }

  .primary {
    background-color: mat-color($accent, $bg-rimary-strenth);
    color: $darkcolor !important;

    &:hover {
      background: mat-color($accent, 500) !important;
      color: $lightcolor !important;
    }
  }

  .secondry {
    background-color: mat-color($accent, 700) !important;
    color: mat-color($accent, 100) !important;
    border-bottom: 1px solid mat-color($primary, 400);

    &:hover {
      background: mat-color($accent, 600) !important;
      color: $lightcolor !important;
    }
  }

  .warning {
    background-color: mat-color($warn, 500) !important;
    color: $lightcolor !important;
    border-bottom: 1px solid mat-color($primary, 400);

    &:hover {
      background: mat-color($warn, 900) !important;
      color: $lightcolor !important;
    }
  }


  .vertical-litle-button {
    min-height: fit-content !important;
}

}

::ng-deep .brown-theme-panel {
    @include custom-inherit-theme($brown-app-theme);
    $theme_prop: theme_prop($brown-app-theme);
    @include mat-nav-panel(map-get($theme_prop, accent), map-get($theme_prop, primary),
    map-get($theme_prop, warn),200);
}

::ng-deep .grey-theme-panel {
    @include custom-inherit-theme($grey-app-theme);
    $theme_prop: theme_prop($grey-app-theme);
    @include mat-nav-panel(map-get($theme_prop, accent), map-get($theme_prop, accent),
    map-get($theme_prop, warn), 200);
}

::ng-deep .contrast-theme-panel {
    @include custom-inherit-theme($contrast-app-theme);
    $theme_prop: theme_prop($contrast-app-theme);
    @include mat-nav-panel(map-get($theme_prop, primary), map-get($theme_prop, primary),
    map-get($theme_prop, warn), 400);
}

.main-block {
  height: 90vh !important;
  min-height: 90vh !important;
  max-height: 90vh !important;
}

/// используем в блоке сообщений каждое сообщение занимает место по размеру содержимого
.inline-flex-comp {
  display: inline-flex !important;
  height: fit-content !important;
  height: -moz-fit-content !important;
  height: -webkit-fit-content !important;
}

.panel-little-flex-comp {  
  max-height: fit-content !important;
}

.messeges-flex-comp {
  min-height: 70px;
}

.panel-flex-element {
  min-height: 50px !important;
  max-height: 50px !important;
  height: 50px !important;
}

.no-outline {
  outline: none !important;
  &:focus {
    outline: none !important;  
  }
  :hover {
    outline: none !important;
  }
  
  .link-active {
    font-style: italic !important;  
  }
} 